<% layout('layout') -%>


<div class="jumbotron" id="navbar-gap">
    <div class="container">
        <h1> Shop Smart, Save Big!</h1>
        
		<p>Starting point to create something more important!</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Sign Up &raquo;</a></p>
    </div>
</div>

<div class="container">
      <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
			<p>Sign up to start buying</p>
			<h3> Start your search here</h3>
        </div>

        <div class="col-md-4">
            <h3>Looking for smart items?</h3>
		    <p>Sign up to start buying</p>
		</div>

        <div class="col-md-4">
            <h3>Build a smart cart </h3>
		    <p>The more smart items you buy together, the more you save!!! :)</p>
        </div>
    </div>
</div>






